* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2rem;
	color: #646d3c;
	background-color: #e5e3df;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.logo {
	width: 100%;
	max-width: 617px;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	justify-items: center;
	align-items: center;
	width: 100%;
	max-width: 992px;
	margin-top: 25px;
}

.content__text {
	text-align: center;
	font-weight: 300;
	max-width: 400px;
}

.content__text__big {
	font-size: 1.5rem;
	font-weight: 600;
	font-family: 'Cormorant', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.icons {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1.2rem;
	align-items: center;
	justify-items: center;
	margin-top: 5rem;
}

.icons__item {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.facebook {
	background-image: url('/assets/facebook.svg');
}
.instagram {
	background-image: url('/assets/instagram.svg');
}
.email {
	background-image: url('/assets/email.svg');
}

@media only screen and (min-width: 400px) {
	.content__text__big {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 1060px) {
	.content {
		grid-template-columns: 1fr auto 1fr;
		gap: 4.9rem;
	}
	.content__text {
		font-size: 1.25rem;
	}
	.icons {
		position: fixed;
		grid-template-columns: 1fr;
		left: 2rem;
		bottom: 3rem;
	}
}
